.App {
  background-color: #282828;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Germania One', cursive;
}

.CountryStatsContainer {
  display: flex;
}

.QuestionContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
}

.Question {
  position: absolute;
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.Question.Hidden{
  transform: translateY(2vh);
  opacity: 0;
}

.LeafContainer {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LeafContainer img {
  height: 45%;
}

@media screen and (orientation: landscape) {
  .CountryStatsContainer {
    width: 60%;
    height: 13vw;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 12vh;
  }
  .QuestionContainer {
    font-size: 3vw;
    padding-bottom: 8vh;
  }
  .Title {
    font-size: 1vw;
    padding-bottom: 2vh;
    font-family: 'Lexend', sans-serif;    
    opacity: 0.5;
    letter-spacing: 0.15vw;
  }
}

@media screen and (orientation: portrait) {
  .CountryStatsContainer {
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
  }
  .QuestionContainer {
    font-size: 8vw;
    padding-bottom: 2vh;
  }
}

img.Compass {
  opacity: 0.2;
  height: 5vw;
}

