.App {
  background-color: #282828;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Germania One', cursive;
  -webkit-tap-highlight-color: transparent;
}

.App > .Title {
  font-family: 'Lexend', sans-serif;    
  opacity: 0.5;
}

.NoTextHighlight {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.NoDrag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.CountryStatsContainer {
  display: flex;
}

img.Compass {
  padding-top: 5vh;
  opacity: 0.2;
  height: 10vh;
}

.QuestionContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
}

.Question {
  position: absolute;
  text-align: center;
  text-wrap: balance;
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.Question.Hidden{
  transform: translateY(2vh);
  opacity: 0;
  pointer-events: none;
}

.QuestionContainer .InfoIcon {
  position: absolute;
  left: 100%;
  top: 46%;
  transform: translateY(-50%);
  padding-left: 2vh;
  height: 3vh;
  opacity: 0.2;
  transition: opacity 0.2s ease;
}

.QuestionContainer .InfoIcon.Visible {
  cursor: pointer;
}

.QuestionContainer .InfoIcon.Hidden {
  opacity: 0;
  pointer-events: none;
}

.InfoTooltip,
.StreakTooltip,
.SourceTooltip,
.HighScoreTooltip {
  font-family: 'Lexend', sans-serif;    
}

.LeafContainer {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LeafContainer img {
  height: 9vh;
}

.PageBottom {
  position: relative;
  height: 30vh;
  width: 100vw;
}

.AnswerTable {
  font-family: 'Lexend', sans-serif;    
  font-size: 1.8vh;
  text-transform: uppercase;
  border-spacing: 0;
  position: absolute;
  left: 50%;
  top: 0%;
}

.AnswerTable.Visible {
  opacity: 1;
  transform: translate(-50%, -15%);
  transition: opacity 0.2s ease-out 0.15s, transform 0.4s ease-out 0.15s;
  cursor: default;
}

.AnswerTable.Hidden {
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-out, transform 0.4s ease;
}

.AnswerTable td,
.AnswerTable th {
  padding-bottom: 0.4vh;
  padding-top: 0.4vh;
}

.AnswerTable tr:nth-child(1),
.AnswerTable tr:nth-child(5) {
  background-color: #222222;
}

.AnswerTable tr:nth-child(3) {
  background-color: #333333;
}

.AnswerTable tr:nth-child(6) {
  text-transform: none;
  font-family: 'Lexend', sans-serif;    
  font-size: 1.6vh;
  transition: opacity 0.2s ease 0.1s;
  opacity: 0;
}

.AnswerTable td:nth-child(1) {
    width: 8vw;
    min-width: 10vh;
    text-align: center;
    border: none;
}

.AnswerTable td:nth-child(2) {
  width: 16vw;
  min-width: 18vh;
}

.AnswerTable td:nth-child(3) {
  width: 8vw;
  min-width: 10vh;
  text-align: center;
}

.AnswerTable tr:nth-child(6) td {
  text-align:start;
  padding-left: 1vw;
}

.AnswerTable:hover tr:nth-child(6), 
.AnswerTable.Mobile tr:nth-child(6) {
  opacity: 0.75;
}

.SubmitButtonContainer {
  width: 20vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  margin-top: 8vh;
  position: absolute;
  left: 50%;
  top: 45%;
}

.SubmitButtonContainer.Next {
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-out;
}

.SubmitButtonContainer.Submit {
  transform: translate(-50%, -350%);
  transition: transform 0.4s ease-in-out;
}

.SubmitButton {
  height: 130%;
  width: 75%;
  background-color: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend', sans-serif;    
  letter-spacing: 0.35vh;
  font-size: 2vh;
  cursor: pointer;
  transition: scale 0.5s ease, background-color 0.5s ease, color 0.5s ease, transform 0.1s ease;
}

.SubmitButton.Inactive {
  scale : 0.75;
  background-color: #3b3b3b;
  cursor: not-allowed;
  color: #aaaaaa;
}

.SubmitButton.Active:hover {
  transform: scale(1.05);
  background-color: #606060;
}

.SubmitButton.Active:active {
  transform: scale(0.9);
}

a.SourceIcon {
  position: absolute;
  left: 118%;
  height: 100%;
}

img.SourceIcon {
  height: 90%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease, scale 0.1s ease;
}

div.StreakIcon,
div.HighScoreIcon {
  position: absolute;
  height: 100%;
  transition: opacity 0.2s ease, scale 0.1s ease;
}

div.StreakIcon {
  right: 165%;
}

div.HighScoreIcon {
  right: 125%;
}

img.StreakIcon,
img.HighScoreIcon {
  height: 90%;
  opacity: 0.7;
}

.StreakIcon p,
.HighScoreIcon p {
  position: absolute;
  left: 50%;
  top: 47%;
  margin: 0;
  font-family: 'Lexend', sans-serif;    
  transform: translate(-50%, -25%);
  cursor:context-menu;
  pointer-events: none;
}

.SourceIcon.Visible:hover {
  opacity: 1;
  scale: 1.05;
}

.SourceIcon.Hidden,
.StreakIcon.Hidden,
.HighScoreIcon.Hidden {
  opacity: 0;
}

@media screen and (orientation: landscape) {
  .CountryStatsContainer {
    width: 70vw;
    max-width: 110vh;
    min-width: 90vh;
    height: 22vh;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5vh;
  }
  .QuestionContainer {
    padding-bottom: 5vh;
  }
  .Question {
    font-size: 5vh;
  }
  .App > .Title {
    font-size: 1.8vh;
    padding-bottom: 1.5vh;
    letter-spacing: 0.35vh;
  }
}

@media screen and (orientation: portrait) {
  .CountryStatsContainer {
    width: 90vw;
    height: 40vh;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: transform 0.6s ease;
  }
  .CountryStatsContainer.Results {
    transform: translateY(-8%);
  }
  .CountryStatsContainer .CountryStat {
    flex: 50%
  }
  .QuestionContainer {
    margin-bottom: 4vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .QuestionContainer .Question {
    font-size: 4vh;
  }
  .LeafContainer {
    height: 0%;
  }
  .LeafContainer img {
    height: 0%;
  }
  .App > .Title {
    font-size: 1.5vh;
    padding-bottom: 2.5vh;
    letter-spacing: 0.35vh;
  }
  img.Compass {
    height: 8vh;
    padding-top: 4vh;
  }
  .QuestionContainer .InfoIcon {
    top: 100%;
    height: 2.75vh;
    padding-left: 2.5vw;
    transform: translateY(-125%);
    margin-bottom: 2vh;
  }
  .QuestionContainer .InfoTooltip {
    font-size: 1.5vh;
    padding: 4px 8px;
  }
  .SubmitButtonContainer {
    width: 15vh;
    height: 5vh;  
    margin-top: 10vh;
  }
  .SubmitButton {
    font-size: 1.7vh;
    height: 120%;
  }
  div.StreakIcon {
    right: 160%;
  }
  
  div.HighScoreIcon {
    right: 118%;
  }  
}

@media screen and (orientation: portrait) and (max-width: 450px){
  .QuestionContainer {
    height: 5vh;
    margin-bottom: 6vh;
  }
  .QuestionContainer .Question {
    font-size: 3.25vh;
  }
}