.CountryStat {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.CountryStat.Loaded {

    .CardFace.Hoverable {
        cursor: pointer;
    }

    .CardFace.Hoverable:hover {
        scale: 1.05;
    }
}

.CountryStat.Loading .Card {
    cursor: progress;
}

.CountryStat {

    .Result {
        position: absolute;
        height: 4vh;
        top: -22%;
        cursor: auto;
        transition: opacity 0.6s ease, scale 0.1s ease-in;
    }

    .Result.Visible {
        scale: 1;
        transition: opacity 0.12s ease-out, scale 0.12s ease-out;
    }

    .Result.Invisible {
        scale: 1.3;
        opacity: 0;
        top: -16%;
        transition: opacity 0.12s ease-in, scale 0.12s ease-in 0.12s, top 0.12s ease-in;
    }

    .Name {
        position: absolute;
        top: 80%;
        opacity: 1;
        display: flex;
        justify-content: center;
        height: 20%;
        max-width: 15vw; 
        margin-top: 0.8vh;
        text-align: center;
        line-height: 100%;
        cursor: context-menu;

        transition: top 0.6s ease, opacity 0.6s ease;
    }

    .Name.Hidden {
        top: 90%;
        opacity: 0;
    }

    .Card {
        height: 80%;
        aspect-ratio: 3 / 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .CardFace {
        position: absolute;
        height: 92%;
        aspect-ratio: 3 / 2;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: blue;
    
        transition: transform 0.6s, scale 0.1s ease;
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .CardFace.FaceUp {
        transform: rotateX(0deg);
    }
    
    .CardFace.FaceDown {
        transform: rotateX(180deg);
        pointer-events: none;
    }

    .CardFace .Border {
        position: absolute;
        height: 100%;
        aspect-ratio: 3 / 2;
        pointer-events: none;
        z-index: 2;
    }

    .CardFace img.Flag {
        position: absolute;
        height: 96%;
    
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    .TokenContainer {
        position: absolute;
        top: 22%;
        left: 32%;
        height: 55%;
        width: 38%;
        pointer-events: none;
        transition: scale 0.1s ease;
    }

    .TokenContainer.Hoverable {
        cursor: pointer;
        pointer-events: all;
    }

    .TokenContainer.Hoverable:hover {
        scale: 1.05;
    }

    .TokenContainer {

        .Token {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            display: flex;
            align-items: center;
            color: #2c2c2c;
            padding-bottom: 8%;
            box-sizing: border-box;
            transform: rotateX(0deg);
            backface-visibility: hidden;
            z-index: 3;
        }

        .Token img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .Token .CrossTick {
            height: 50%;
            width: 50%;
            top: 47.5%;
            transform: translate(-50%, -50%);
        }

        .Token h1 {
            font-size: 5.25vh;
            font-family: 'Rubik', serif;    
        }
        
        .Token.Hoverable:hover {
            scale: 1.05;
        }
    
        .Token.Invisible {
            transition: height 0.1s linear 0.2s, opacity 0.2s ease-out, transform 0.6s ease;
            transform: scale(1.2);
        }
        
        .Token.Visible {
            opacity: 1;
            transition: height 0.12s ease-in, opacity 0.06s ease-in, transform 0.15s ease-out;
        } 

        .Token.Flipped {
            transform: rotateX(180deg);
        }
    }
}

@media screen and (orientation: landscape) {
    .CountryStat .Name {
        font-size: 3vh;
    }
}
  
@media screen and (orientation: portrait) {
    .CountryStat {
        height: 18vh;
        max-height: 34vw;
    }
    .CountryStat .Name {
        font-size: 2.5vh;
        max-width: 36vw; 
    }
    .CountryStat .TokenContainer {
        top: 16%;
        left: 25%;
        height: 71.5%;
        width: 49.5%;
    }    
    .CountryStat .TokenContainer .Token h1 {
        font-size: 5vh;
        font-family: 'Rubik', serif;    
    }
    .CountryStatsContainer:nth-child(4) .CountryStat .Name {
        max-width: 100vw; 
    }  
}