.Globe {
    position: absolute;  
	margin: 0;
	top: 50%; 
	left: 50%;
	aspect-ratio: 1 / 1;
	height: 33%;
	transform: translate(-50%, -50%);
}

.Globe .WorldMap {
	position: absolute; 
	margin: 0; 
    left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	overflow: hidden;
	border-radius: 50%;
	transform: translate3d(0, 0, 0);
}


.Globe .WorldMap .Front {
    position: absolute; 
	margin: 0; 
    left: 0; 
	top: 0; 
	width: 500%; 
	height: 100%; 
	animation: textureSpin 6s linear infinite;
    background-size: 100%;
}

@keyframes textureSpin {
	from {
        transform: translateX(-47.5%);
	}
	to {
		transform: translateX(0);
	}
}
